
<main class="md:w-10/12 lg:w-4/12 bg-white shadow-2xl rounded px-8 pt-8 pb-8 mb-4 mt-6 mx-auto">
  <%= image_tag 'LOGO-MINDCLICK-03.png', class: 'md:w-4/12 lg:w-3/12 my-5 mx-auto' %>
  <h2 class='md:text-6xl lg:text-4xl text-center text-blue-600 my-5'>Crear cuenta</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: ''}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-4">
      <%= f.label :first_name, 'Nombre', class: 'block text-gray-600 md:text-4xl lg:text-2xl font-bold mb-0 px-1' %><br />
      <%= f.text_field :first_name, class:"border-2 border-blue-400 rounded-lg w-full lg:py-2 md:py-6 md:text-4xl lg:text-2xl px-1 text-gray-800 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Escribe tu primer nombre' %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, 'Apellido', class: 'block text-gray-600 md:text-4xl lg:text-2xl font-bold mb-0 px-1' %><br />
      <%= f.text_field :last_name, class:"border-2 border-blue-400 rounded-lg w-full lg:py-2 md:py-6 md:text-4xl lg:text-2xl px-1 text-gray-800 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Escribe tu apellido' %>
    </div>

    <div class="mb-4">
      <%= f.label :email, 'Correo', class: 'block text-gray-600 md:text-4xl lg:text-2xl font-bold mb-0 px-1' %><br />
      <%= f.email_field :email, class:"border-2 border-blue-400 rounded-lg w-full lg:py-2 md:py-6 md:text-4xl lg:text-2xl px-1 text-gray-800 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Escribe tu correo' %>
    </div>

    <div class="mb-4">
      <%= f.label :password, 'Contraseña', class: 'block text-gray-600 md:text-4xl lg:text-2xl font-bold mb-0 px-1' %>
      <% if @minimum_password_length %>
      <em class='lg:text-xl md:text-2xl'>(<%= @minimum_password_length %> caracteres mínimos)</em>
      <% end %><br />
      <%= f.password_field :password, class:"border-2 border-blue-400 rounded-lg w-full lg:py-2 md:py-6 md:text-4xl lg:text-2xl px-1 text-gray-800 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Escribe tu contraseña' %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, 'Confirmar Contraseña', class: 'block text-gray-600 md:text-4xl lg:text-2xl font-bold mb-0 px-1' %><br />
      <%= f.password_field :password_confirmation, class:"border-2 border-blue-400 rounded-lg w-full lg:py-2 md:py-6 md:text-4xl lg:text-2xl px-1 text-gray-800 leading-tight focus:outline-none focus:shadow-outline", placeholder: 'Escribe tu contraseña' %>
    </div>

    <div class="w-full py-6">
      <%= f.submit "Sign up", class: "bg-blue-500 hover:bg-blue-700 text-white md:text-4xl lg:text-2xl md:p-4 lg:p-4 rounded-lg focus:outline-none focus:shadow-outline" %>
      <%= render "devise/shared/links"%>
    </div>
  <% end %>

  <p class="text-center text-gray-500 md:text-4xl lg:text-lg">
    &copy;2020 Mind Click. Todos los derechos reservados.
  </p>
</main>